@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
@font-face {
    font-family: billy;
    src: url('../fonts/BillyBold.otf');
}
  
.header-image {
    width: 100%;
    height: 80vh;
    background-image: url('../images/LawnIsLava_Sketches_v7D.png');
    background-size: cover;
    background-position: center;
}
.header-image img.logo{
    width: 400px;
}
.main-download-btn{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 30px 0; 
    grid-row-gap: 50px;
}
.download-div{
    margin: 0 auto;
    width: 400px;
}
.download-div .country-img img{
    width: 80px;
}
.download-div .group{
    display: flex;
    align-items: center;
}
.download-div .group .download-btn a {
    text-decoration: none;
    background-color: #ef5627;
    color: #fff;
    padding: 13px 40px;
    border-radius: 8px;
    font-size: 27px;
    margin-left: 20px;
}
.download-div .text h6{
    font-size: 20px;
}
.footer{
    background-color: #ef5627;
    color: #fff;
    text-align: center;
    padding: 40px 0;
}
.footer a.goliath{
    color: #fff;
    text-decoration: none;
    font-family: billy;
    font-size: 30px;
}
@media screen and (min-width: 1200px) {
    .last{
        grid-column: span 3;
    }
}

@media screen and (max-width: 1400px) {
    .download-div {
        width: 310px;
    }
  }
  @media screen and (max-width: 1200px) {
    .main-download-btn{
        grid-template-columns: repeat(2,1fr);
    }
    .download-div {
        margin: 0 auto;
        width:400px;
    }
    .last{
        grid-column: span 2;
    }
  }
  @media screen and (max-width: 992px) {
    .download-div {
        margin: 0 auto;
        width:340px;
    }
  }
  @media screen and (max-width: 768px) {
    .main-download-btn{
        grid-template-columns: repeat(1,1fr);

    }
    .download-div {
        margin: 0 auto;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .last{
        grid-column: span 1;
    }
  }
  @media screen and (max-width: 576px) {
    .header-image img.logo{
        width: 200px;
    }
    .main-download-btn{
        grid-template-columns: repeat(1,1fr);

    }
    .download-div {
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .header-image {
        height: 36vh;
    }
  }